p {
    color: blue;
    background: black;
    font-family: "Microsoft New Tai Lue";
    font-size: 20px;
    border-style: dotted;
    text-align: center;
}
th{
    border-style: solid;
    margin: 20px;
    padding: 20px;
}
td{
margin: 20px
}
body {
    background: azure;
    }
#first_span {
    color: rebeccapurple;
}
.redElement{
    color: red;
    font-size: 50px;
}
p:hover{
    width: 100%;
}
input[type=submit]:hover{
    background-color: blue;
    width: 80%;
    visibility: hidden;
}
